<!DOCTYPE html>
<html lang="en">
<head>
	<title> ToDo List App </title>
</head>
<body>
	<header class="container center-align">
		<h1> <a href="/todos"> ToDo List App </a></h1>
    <table>
      <tr>
        <th> <a href="/todos/add"> Add ToDos </a> </th>
        <th> <a href="/todos/remove" > Remove ToDos </a> </th>
        <th> <a href="/admin">Admin Login</a> </th>
      </tr>
    </table>
	</header>

	<div class="container">

<form action="{% url 'remove' %}" method="post">
  {% csrf_token %}
    <label for="ToDos"> Title</label><br />
    <select name="todo_id">
      {% for todo in todos %}
        <option value="{{todo.id}}">{{todo.title}}</option>
      {% endfor %}
  </select>
    <br><br>
    <input type="submit" value="Delete" />
  </form>
  <br>
</body>
</html>
